/*general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/

.debug header{
    height: 40px;
    background-color: black;
    display: flex;
    justify-content:flex-end;
}

.debug main{
    height: calc(100vh - 110px) ;
    background-color: black;
    border: 1px solid white;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.debug footer{
    height: 70px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Header*/

.fa-solid{
    color: white;
}

.fa-compress{
    background-color: #555555;
    max-height: 20px;
}

.speaker{
    color:white;
    background-color: #555555;
    margin-right: 2px;
    max-height: 20px;
}

/*Main*/

.box{
    max-width:400px;
    max-height:200px;
    position: relative;
}

.micro-nome{
    position:absolute;
    color: white;
    background-color: #999999;
    bottom: -60px;
}
/*Footer*/

.mic-web{
    display: flex;
}

footer > div {
    color: white;
}

.freccina{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.img-mic, .img-web{
    font-size: 20px;
    padding: 10px;
}

.img-web{
    padding-left:20px;
}

.fa-share-from-square{
    color: greenyellow;
}

.tool{
    display: flex;
}

.box-tool{
    font-size: 20px;
    padding: 10px;
}

.box-tool{
    text-align: center;
}

.end-off{
    color: red;
    background-color: #555555;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}