/*general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Debug*/

.debug header{
    height: 40px;
    background-color: black;
    display: flex;
    justify-content:flex-end;
}

.debug main{
    height: calc(100vh - 110px) ;
    background-color: black;
    border: 1px solid white;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.debug footer{
    height: 70px;
    background-color: #222222;
    display: flex;
}

/*Header*/
.fa-compress{
    color:white;
    background-color: #555555;
    max-height: 20px;
}

.speaker{
    color:white;
    background-color: #555555;
    margin-right: 2px;
    max-height: 20px;
}

/*Main*/

.box{
    max-width:400px;
    max-height:200px;
    position: relative;
}
/*Footer*/